* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#06000f 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    background-image: linear-gradient(to right, rgba(166, 60, 194, 0.9), rgba(195, 0, 255, 0)), url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain; 
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    
}

.container {
    width: 1200px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #b403d8;
    box-shadow: 4px 4px 20px 0px rgb(4, 16, 31);
    background-image: linear-gradient (to right, rgba(166,60,194,0.9)), url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
}

.container::before {
    content: "";
    position:relative; 
    top: 0;
    right: 0;
    width: 100%; 
    height: 100%;
    background: linear-gradient(to left, rgba(4, 9, 37, 0.8), rgba(255, 255, 255, 0));
    pointer-events: none; 
    border-top-right-radius: 24px; 
    border-bottom-right-radius: 24px; 
}

.container__conteudo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informacoes {
    flex: 1;
    padding: 20px;
}

.container__botao {
    border-radius: 16px;
    background: #1874e6;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 16px;
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: #a618e8;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
}

h2,
p,
button {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}